[Unit]
Description=Add wheel members to docker and incus-admin groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/serpentine-dx-groups
Restart=no

[Install]
WantedBy=default.target
